# =============== #
# Unity generated #
# =============== #
Alzheimer[Tt]emp/
Alzheimer[Oo]bj/
Alzheimer[Bb]uild
Alzheimer[Ll]ibrary/
Alzheimer/sysinfo.txt
Alzheimer/*.log
*.stackdump
 
# ============================================= #
# Visual Studio / MonoDevelop / Rider generated #
# ============================================= #
[Ee]xported[Oo]bj/
.vs/
Alzheimer/*.userprefs
Alzheimer/*.csproj
Alzheimer/*.pidb
Alzheimer/*.suo
Alzheimer/*.sln*
Alzheimer/*.user
Alzheimer/*.unityproj
Alzheimer/*.booproj
Alzheimer/.idea*/
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
